.chatpage{
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px orange solid;
}

.container{
    border: 1px white solid;
    height: 98vh;
    background-color: white;
    width: 100%;
    display: flex;
}