@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.chatpage {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
  }
}
