@use "../../styles/partials/variables" as *;

.input{
    height: 3.175rem;
    background-color: $secondary-cream;
    padding: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__field{
        width: 100%;
        border: none;
        outline: none;
        color: black;
        font-size: 1rem;
        background-color: $secondary-cream;
        font-size: 1.1rem;
    }
}