@use "../../styles/partials/variables" as *;
.chat {
  flex: 2;
  &__info {
    height: 4rem;
    background-color: $secondary-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-weight: 600;
    &-users {
      display: flex;
    }
  }
  &__container-x {
    height: 100%;
    width: 100%;
    padding-left: 1.72rem;
    padding-right: 1.31rem;
    padding-bottom: 2.19rem;
    padding-top: 1.37rem;
  }
  &__grand-title {
    margin-left: 2.84rem;
    padding-bottom: 1.38rem;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  &__saying {
    color: #404040;
    margin-left: 2.84rem;
    padding-bottom: 1.57rem;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.placeholder {
  background-color: purple;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
