@use "../../styles/partials/variables" as *;
.chat{
    flex: 2;
}

.chat__info{
    height: 4rem;
    background-color: $secondary-grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-weight: 600;
    &-users{
        display: flex;
    }
}

.placeholder{
    background-color: purple;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}