@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
@mixin desktop1 {
  @media screen and (max-width: $desktop-breakpoint1) {
    @content;
  }
}

@mixin desktop2 {
  @media screen and (min-width: $desktop-breakpoint2) {
    @content;
  }
}

//mobile text styles

@mixin font-m-h1-page-header {
  font-size: 3rem; //48px
  font-weight: 700;
}

@mixin font-m-h2-subheader {
  font-size: 1.6875rem; //27px
  font-weight: 700;
}

@mixin font-m-h1-body {
  font-size: 1.3125rem; //21px
  font-weight: 700;
}

@mixin font-m-h1-button {
  font-size: 1.25rem; //20px
  font-weight: 700;
}

//desktop & tablet text styles

@mixin font-h1-page-header {
  font-size: 3.625rem; //58px
  font-weight: 700;
}

@mixin font-h2-subheader {
  font-size: 1.875rem; //27px
  font-weight: 700;
}

@mixin font-h1-body {
  font-size: 1.5625rem; //25px
  font-weight: 700;
}

@mixin font-h1-button {
  font-size: 1.6875rem; //27px
  font-weight: 700;
}
