@use "variables" as *;

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
    url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
    url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
