//screen breaking points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$primary-black: #000000; //borders and text
$primary-light-blue: #0099ff; //text and interactive
$primary-white: #ffffff; //universal white for text nad inputs
$primary-yellow: #ffd22f; //backgrounds and icons

//secondary colors
$secondary-dark-blue: #0954b0; //borders and text
$secondary-red: #ff7070; //important text
$secondary-cream: #fff9f4; //backgrounds and highlights

//figma colors
$secondary-grey: #FBFBFB;
$secondary-input: #C8C8CB;
