.chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #3b5998;

  &__header {
    background-color: #3b5998;
    color: white;
    width: 100%;
    text-align: center;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
  }

  &__message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  &__user {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }

  &__new-message-form {
    display: flex;
    width: 100%;
    padding: 10px;
  }

  &__new-message-input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
  }

  &__send-btn {
    border: none;
    outline: none;
    background: #3b5998;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
  }
}
