@font-face {
  font-family: "Corben", serif;
  src: url("../../assets/fonts/Corben-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../assets/fonts/Poppins-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../assets/fonts/Gilroy-ExtraBold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

.landing {
  font-family: "Gilroy";
  background-color: #ffffff;
}
.landing__header {
  padding: 0.81rem 8rem 0.81rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing__header-logo {
  width: 16rem;
  height: 4.9375rem;
  flex-shrink: 0;
}
.landing__header-btn {
  width: 11.25rem;
  height: 3.875rem;
  font-size: 1.6875rem;
  font-weight: 700;
  background-color: #ffffff;
  border: 6px solid #ffd22f;
}
.landing__hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing__hero-container {
  display: flex;
  align-items: center;
}
.landing__hero-img {
  width: 20rem;
}
.landing__title {
  font-size: 3.625rem;
  font-weight: 700;
  font-family: "Corben", serif;
  margin-block-start: 0;
  margin-block-end: 0;
}
.landing__subtitle {
  font-family: "Corben", serif;
  font-size: 1.875rem;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}
.landing__btn {
  border: 3px solid #000000;
  margin: 1.75rem;
  width: 27.5rem;
  padding: 1rem;
  background-color: #ffffff;
  font-size: 1.6875rem;
  font-weight: 700;
}
.landing__features {
  text-align: center;
  background-color: #fff9f4;
}
.landing__features-container {
  display: flex;
  gap: 2rem;
}
.landing__feature {
  border-radius: 3.75rem;
  background: rgba(255, 210, 47, 0.4);
  padding: 2.25rem;
}
.landing__description {
  font-family: "Corben", serif;
  margin-block-start: 0;
  margin-block-end: 0;
}
.landing__process-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__step {
  display: flex;
  margin-bottom: 7.63rem;
}
.landing__step--first {
  background-color: rgba(9, 84, 176, 0.06);
  border: 8px solid #0954b0;
}
.landing__step--second {
  background-color: rgba(255, 210, 47, 0.15);
  border: 8px solid #ffd22f;
}
.landing__step--third {
  background-color: rgba(255, 112, 112, 0.12);
  border: 8px solid #ff7070;
}
.landing__img {
  border: none;
}
.landing__form {
  display: flex;
  flex-direction: column;
}
.landing__footer {
  background-color: #fff9f4;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.landing__footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.landing__footer-subheading {
  font-family: "Corben", serif;
}
.landing__items {
  text-align: left;
}
.landing__item {
  font-family: "Gilroy";
  list-style-type: none;
}/*# sourceMappingURL=LandingPage.css.map */