@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.landing {
  padding: 1rem;
  &__title {
    @include font-h1-body;
    font-family: "Corben", serif;
  }
  &__description {
    font-family: "Poppins", sans-serif;
  }
  &__features {
  }
  &__subtitle {
  }
  &__process {
  }
  &__items {
    font-family: "Gilroy";
  }
  &__item {
    font-family: "Gilroy";
  }
  &__btn {
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
  }
  &__input {
  }
  &__btn-submit {
  }
}
