.message{
    display: flex;
    margin:1.25rem;

    &__info{
        display: flex;
        flex-direction: column;
        color: gray;
        font-weight: 300;
        font-size: 0.875rem;
    }
    &__content{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0.7rem;
        &-text{
            // background-color: silver;
            padding: 0.625rem 1.25rem;
            border-radius: 0 0.625rem 0.625rem 0.625rem;
            border: 2px black solid;
            box-shadow: inset 0px 2px 0px 0px rgba(0,0,0,1);
        }
    }
    &.owner{
        flex-direction: row-reverse;
        p{
            // background-color: silver;
            // color: blue;
            border-radius: 0.625rem 0 0.625rem 0.625rem ;
        }
    }
}